* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

html {
  background: -webkit-gradient(linear, left top, left bottom, from(#1E0F3A), to(#272791));
  background: linear-gradient(180deg, #1E0F3A 0%, #272791 100%);
}

body {
  padding-top: 100px;
  font-size: 62.5%;
  width: 100vw;
  min-height: 500px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.ensolarado {
  background: transparent url("../img/Sun rise-cuate.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes mudarOpacidade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mudarOpacidade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  background-color: rgba(39, 39, 145, 0.8705882353);
  -webkit-box-shadow: 5px 5px 10px #222249;
          box-shadow: 5px 5px 10px #222249;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}
@media screen and (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    max-width: 100%;
    width: 70vw;
    padding: 80px 40px;
  }
}
.container .inputDados h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
@media screen and (min-width: 800px) {
  .container .inputDados h1 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
}
.container .inputDados form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.container .inputDados form input {
  color: #222249;
  width: 85%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
}
.container .inputDados form input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px 2px #a9a9ea;
          box-shadow: 0px 0px 5px 2px #a9a9ea;
}
@media screen and (min-width: 800px) {
  .container .inputDados form input {
    padding: 7px;
    font-size: 1.3rem;
    width: 80%;
  }
}
.container .inputDados form button {
  background: #8f8fff;
  border: none;
  border-radius: 5px;
  width: 15%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.container .inputDados form button:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media screen and (min-width: 800px) {
  .container .inputDados form button {
    width: 20%;
  }
}
.container .exibicao {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}
@media screen and (min-width: 800px) {
  .container .exibicao {
    margin: 0;
  }
}
.container .exibicao .dados {
  border-top: 2px solid #fff;
  margin-top: 10px;
  padding-top: 20px;
}
@media screen and (min-width: 800px) {
  .container .exibicao .dados {
    margin: 0;
    border: none;
    padding: 0;
  }
}
.container .exibicao .dados .cidade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container .exibicao .dados .cidade #city {
  text-transform: capitalize;
  margin: 0px 15px 0px 5px;
  font-size: 2rem;
}
.container .exibicao .dados .cidade img {
  width: 30px;
  height: auto;
}
@media screen and (min-width: 800px) {
  .container .exibicao .dados .cidade img {
    width: 40px;
    height: auto;
  }
}
.container .exibicao .dados .temperatura {
  margin-top: 10px;
  font-size: 2rem;
}
.container .exibicao .dados .descricao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.container .exibicao .dados .descricao__texto {
  font-size: 1rem;
  color: #8f8fff;
}
.container .exibicao .dados .descricao img {
  width: 30px;
  height: auto;
}
.container .exibicao .dados .container__detalhes {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  font-size: 0.8rem;
}
.container .exibicao .dados .container__detalhes p i {
  color: #a9a9ea;
}
.container .exibicao .dados .container__detalhes p span {
  color: #a9a9ea;
}
.container .exibicao .carregando {
  -webkit-animation-name: mudarOpacidade;
          animation-name: mudarOpacidade;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container .exibicao .erro404 p {
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #a9a9ea;
  color: red;
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */