* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

html {
  background: linear-gradient(180deg, #1E0F3A 0%, #272791 100%);
}

body {
  padding-top: 100px;
  font-size: 62.5%;
  width: 100vw;
  min-height: 500px;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.ensolarado {
  background: transparent url("../img/Sun\ rise-cuate.svg");
  background-repeat: no-repeat;
  background-size: cover;
}