@charset "utf-8";

@use "./reset";

@keyframes mudarOpacidade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  background-color: #272791de;
  box-shadow: 5px 5px 10px #222249;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    max-width: 100%;
    width: 70vw;
    padding: 80px 40px;
  }
  .inputDados {
    h1 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      @media screen and (min-width: 800px) {
        font-size: 1.8rem;
        margin-bottom: 30px;
      }
    }
    form {
      display: flex;
      gap: 5px;
      input {
        color: #222249;
        width: 85%;
        padding: 5px;
        border-radius: 5px;
        border: none;
        font-size: 1.1rem;
        @media screen and (min-width: 800px) {
          padding: 7px;
          font-size: 1.3rem;
          width: 80%;
        }
      }
      button {
        background: #8f8fff;
        border: none;
        border-radius: 5px;
        width: 15%;
        transition: .2s;
        &:hover {
          cursor: pointer;
          opacity: .5;
        }
        @media screen and (min-width: 800px) {
          width: 20%;
        }
      }
    }
  }

  .exibicao {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    @media screen and (min-width: 800px) {
      margin: 0;
    }
    .dados {
      border-top: 2px solid #fff;
      margin-top: 10px;
      padding-top: 20px;
      @media screen and (min-width: 800px) {
        margin: 0;
        border: none;
        padding: 0;
      }
      .cidade {
        display: flex;
        align-items: center;
        justify-content: center;
        #city {
          text-transform: capitalize;
          margin: 0px 15px 0px 5px;
          font-size: 2rem;
        }
        img {
          width: 20px;
          height: auto;
        }
      }
      .temperatura {
        margin-top: 10px;
        font-size: 2rem;
      }
      .descricao {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        &__texto {
          font-size: 1rem;
          color: #8f8fff;
        }
        img {
          width: 30px;
          height: auto;
        }
      }
      .container__detalhes {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 40px;
        font-size: .8rem;
        p {
          i {
            color: #a9a9ea;
          }
          span {
            color: #a9a9ea;
          }
        }
      }
    }
    .carregando {
      animation-name: mudarOpacidade;
      animation-fill-mode: forwards;
    }
    .erro404 {
      p {
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
        background-color: #a9a9ea;
        color: red;
      }
    }
  }
}

.hidden {
  display: none;
}
